*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}
/* header style*/
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex:1;
    background-color: #1f2937;
    color:#ffffff;
    font-size: 24px;
    padding: 0  100px;
}
.header .menu{
    align-self:center;
}

.header .menu ul{
    display:flex;
    list-style:none;
    gap:50px;
   
}
.menu_item{
    text-decoration:none;
    color: #f9f8fa;
}
.menu_item:hover{
      color:bisque;
}
.banner{
    display: flex;
    color: #f9f8fa;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-bottom:40px;
    gap:80px;
    
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    gap:30px;
    text-align: center;
}
.hero .title{
    font-size: 48px;
    font-weight: bolder;
}
.hero .content{
    font-size: 18px;
    color:#efe7eb;
}
.order_btn button{
    background-color: #388256;
    color:#efe7eb;
    padding:10px;
    font-size: 18px;
    border-radius: 10px;
}
.order_btn button:hover{

    transform: scale(1.1);
}
.banner_image{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}
.section1{
    padding:20px;
}
.section1-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2.5rem;
}
.section1-services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
    
 
}
.Section1-serv_card{
  border: #1f2937 1px solid;
  padding:10px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.Section1-serv_card:hover{
    transform: scale(1.1);
}
.section1-description{
    text-align: center;
    font-size: 1.3rem;
}
.testimonial{
    display:flex;
    background-color: #efe7eb;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.testimonial-card{
    width:600px;
    display:flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap:2px;
}
.quote-mark{
    width: 24px;
    height: 24px;
}
.client-name{
    align-self: flex-end;
    font-weight: bold;
}
