*{
    box-sizing: border-box;
}
body{
    display: flex;
    margin:0;
    padding:0;
}
/* header style*/
.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex:1;
    background-color: #1f2937;
    color:#ffffff;
}
.header .menu ul{
    display:flex;
    list-style:none;
    gap:10px;
}
.menu_item{
    text-decoration:none;
    color: #ffffff;
}